
/**
Crée le 19 déc. 2016
Auteur : Romain Jacquiez
Nom du css : accueil
Rôle : css de l'accueil
*/

.logo{
    width: 18%;
    display: block;
    text-align: center;
    margin: auto;
}

.img_loader{
    width: 8%;
}

button:hover{
    color: #212121;
}

#formC,#formI{
    margin-left: 25%;
    margin-right: 25%;
}

fieldset{
    background-color: #E7E6E6;
    color: #212121;
    background-color: whitesmoke;
    border-bottom-width: 4px;
    border-bottom-color: black;
    border-left-width: 3px;
    border-left-color: black;
    border-top: none;
    border-right: none;
}

.titre_form{
    text-align: center;
    font-size: 130%;
}

#erreur,#erreur2{
    color: #FF3333;
    font-weight: bolder;
}