/**
Crée le 23/01/17
Auteur : Pierre Parrat
Nom du css : ecriture
Rôle : css de l'ecriture  
*/

/*
.logo{
    
    width: 9%;
}

.avatar{
    width: 5%;
}

#fond_de_pages 
{ 
    background-color: #0C0C0C !important;    
}
*/