/*
Crée le 23/01/17
Auteur : Pierre Parrat/Antoine Parant
Nom du css : ecriture
Rôle : css de l'ecriture  
*/

form{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.selection{
    margin-top: 0px;
    margin-left: 10px;
    width: 22%;
    float: right;
    background-color: whitesmoke;
    border-bottom-width: 4px;
    border-bottom-color: black;
    border-left-width: 3px;
    border-left-color: black;
    border-top: none;
    border-right: none;
}

#bouton_selection{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.select_tags,.rappel{
    color: #FF6600;
    text-align: center;
    display: block;
    font-size: large;
    font-weight: bolder;
}

.message{
    background-color: whitesmoke;
    border-bottom-width: 4px;
    border-bottom-color: black;
    border-left-width: 3px;
    border-left-color: black;
    border-top: none;
    border-right: none;
}

.titre{
    font-size: 40px;
    text-align: center;
}

#title{
    width: 80%;
    display: block;
    margin: auto;
}

#corps{
    width: 70%;
    height: 50%;
    display: block;
    margin: 10px auto 10px auto;
}

textarea{
    outline-color: #FF6600;
    resize: none;
}

#contenu_couleur{
    font-size: 20px;
    color: #FF6600;
}
.div_contenu{
    margin-left: 40px;
    margin-right: 40px;
    border-color: #DEDCDC;
    color: #263238;
    font-size: medium;
}

#fond_de_pages 
{ 
    background-color: #0C0C0C !important;    
}

.erreurArticle{
    color: #FF3333;
    font-weight: bolder;
    margin-left: 40px;
    margin-top: 8px;
}