/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24 févr. 2017, 16:17:11
    Author     : Antoine Parant
*/

body {margin: 2px;}

fieldset{
    margin-top: 2px;
}

fieldset.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #444;
    border-bottom-width: 4px;
    border-bottom-color: black;
    border-left-width: 3px;
    border-left-color: black;
    border-top: none;
    border-right: none;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

/* fieldset.topnav li {float: left;}  */

fieldset.topnav button {
    display: block;
    color: white;
    text-align: center;
}

fieldset.topnav li button:hover:not(.active) {background-color: #111;}

fieldset.topnav li button:hover{
    color: #212121;
}

fieldset.topnav li button.active {background-color:  #FF6600;}

 fieldset.topnav li.right {
    float: right;
    margin: 50px 65px 5px auto;
}

.logo{
    width: 120px;
    float: left ;
    margin: 5px auto 5px 42px;
    background-color: #212121;
    border-radius: 50px;   
}

/* CSS du titre */

.titre{
    font-size: 40px;
    margin-right: 15%;
    margin-left: 15%;
    text-align: center; 
}

