/**
Crée le 23/01/17
Auteur : Pierre Parrat/Antoine Parant
Nom du css : ecriture
Rôle : css de l'ecriture  
*/

.divasideG{
   float: left;
}

.divasideD{
    width: auto;
    display: block;
}

.article{
    margin-top: -8px;
    float: left;
    width: 65%;
    word-wrap: break-word;
}

.user{
    background-color: whitesmoke;
    border-bottom-width: 4px;
    border-bottom-color: black;
    border-left-width: 3px;
    border-left-color: black;
    border-top: none;
    border-right: none;
    margin-top: 10px;
    margin-left: 10px;
}

.selection{
    background-color: whitesmoke;
    border-bottom-width: 4px;
    border-bottom-color: black;
    border-left-width: 3px;
    border-left-color: black;
    border-top: none;
    border-right: none;
    margin: 10px;
}

.avatar{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.message{
    vertical-align: middle;
    text-align: center;
    color: black;
}

#articulos{
    float: none;
    margin: 10px;
    background-color: whitesmoke;
    border-bottom-width: 4px;
    border-bottom-color: black;
    border-left-width: 3px;
    border-left-color: black;
    border-top: none;
    border-right: none;
    height: max-content;
}

#titulo{
    color: #FF6600;
    padding-left: 40px;
    padding-top: 15px;
    font-size: large;
    font-weight: bolder;
}

#contenido{
    max-width: 95%;
    margin-bottom: 25px;
    margin-left: 40px;
    margin-right: 40px;
    border-color: #DEDCDC;
    color: #263238;
    font-size: medium;
}

#indication{
    margin-bottom: 10px;
}

#poste{
    color: #263238;
    float: none;
}

#autor{
    color: #263238;
    float: none;
    margin-left: 40px;
    font-weight: bold;
}

.select_tags{
    margin-top: 5px;
    color: #FF6600;
    text-align: center;
    display: block;
    font-size: large;
    font-weight: bolder;
}

#bouton_selection{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.aucunA{
    color: #FF6600;
    text-align: center;
    display: block;
    font-size: large;
    font-weight: bolder;
}